/* a minimalist set of CSS resets */

/* default to border-box */
html {
  box-sizing: border-box;
  font-size: 16px;
}

*, *:before, *:after {
  box-sizing: inherit;
}

/* adjust typography defaults */


/* images and videos max out at full width */
img,
video {
  height: auto;
  max-width: 100%;
}
body {
  margin: 0;
  background-color: #141414;
}
h1 {
  text-align: center;
  color: #10b6ff;

  font-family: sans-serif;
  font-size: 100px;
}
h3 {
  color: #10b6ff;

  font-family: sans-serif;
  font-size: 75px;
}
h6{
  color: White;
  text-align: center;
}
p {
  color: white;

  font-family: sans-serif;
  font-size: 20px;
}
a {
  color: #10b6ff;
  text-decoration: none;
}

.funnybutton {
  text-align: center;
  text-align: center;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #141414;
  position: -webkit-sticky; 
  position: sticky;
  top: 0;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #10b6ff;
}

.active {
  background-color: #4CAF50;
}
/* Style the tab */
.tab {
  overflow: hidden;
  border: 1px solid #ccc;
  background-color: #f1f1f1;
}

/* Style the buttons that are used to open the tab content */
.tab button {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
}

/* Change background color of buttons on hover */
.tab button:hover {
  background-color: #ddd;
}

/* Create an active/current tablink class */
.tab button.active {
  background-color: #ccc;
}

/* Style the tab content */
.tabcontent {
  display: none;
  padding: 6px 12px;
  border: 1px solid #ccc;
  border-top: none;
}

.yay {
  display: inline-block;
  height: 100%; 
  width: 50%;
}